PORT=8080
DATABASE_URL='postgresql://neondb_owner:npg_0eXcRbi5lKIx@ep-cold-paper-a1i3r67l-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=change-me-to-a-random-64-byte-hex-string
JWT_EXPIRES_IN=15m
AFTERSHIP_API_KEY=asat_994e699a80344fef81b7b015277a3e6f
CORS_ORIGIN=http://localhost:3000
NODE_ENV=development
